<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html"><strong>MỤC LỤC</strong></a>

<ul>
  <li><a href="{{ '/' | relative_url }}">Trang chủ</a></li>

  <li>
    <a href="{{ '/huong-dan' | relative_url }}">Hướng dẫn</a>
  </li>

  <li>
    <a href="{{ '/2-nam-hoc-o-viet-nam' | relative_url }}">2 năm học ở Việt Nam</a>
  </li>

  <li>
    <a href="{{ '/chuan-bi-sang-phap' | relative_url }}">Chuẩn bị sang Pháp</a>
  </li>

  <li>
    <a href="{{ '/dinh-huong' | relative_url }}">Định hướng</a>
  </li>

  <li>
    <a href="{{ '/gioi-thieu-chuong-trinh' | relative_url }}">Giới thiệu chương trình</a>
  </li>

  <li>
    <a href="{{ '/gioi-thieu-cuoc-song' | relative_url }}">Giới thiệu cuộc sống</a>
  </li>

  <li>
    <a href="{{ '/gioi-thieu-truong-hoc' | relative_url }}">Giới thiệu trường học</a>
  </li>

  <li>
    <a href="{{ '/huong-dan-duong-di' | relative_url }}">Hướng dẫn đường đi</a>
  </li>

  <li>
    <a href="{{ '/thanh-tich-cuu-sinh-vien' | relative_url }}">Thành tích cựu sinh viên</a>
  </li>

  <li>
    <a href="{{ '/thu-tuc-hanh-chinh' | relative_url }}">Thủ tục hành chính</a>
  </li>

  <li>
    <a href="{{ '/tips-cuoc-song' | relative_url }}">Tips cuộc sống</a>
  </li>

  <li>
    <a href="{{ '/tu-van-nganh-hoc' | relative_url }}">Tư vấn ngành học</a>
  </li>

  <li>
    <a href="{{ '/xin-thuc-tap-xin-viec' | relative_url }}">Xin thực tập & Xin việc</a>
  </li>
</ul>
