Mục lục (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Sửa đổi</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Trang chủ</a></li>
  
  <li><strong>Giới thiệu trường học</strong>
    <ul>
      <li><a href="{{ '/gioi-thieu-truong-hoc/gioi-thieu-nganh-hoc-toulouse' | relative_url }}">Giới thiệu ngành học Toulouse</a></li>
      <li><a href="{{ '/gioi-thieu-truong-hoc/trao-doi-nuoc-ngoai' | relative_url }}">Trao đổi nước ngoài</a></li>
    </ul>
  </li>

  <li><strong>Chuẩn bị sang Pháp</strong>
    <ul>
      <li><a href="{{ '/chuan-bi-sang-phap/do-dac-can-mang' | relative_url }}">Đồ đạc cần mang</a></li>
      <li><a href="{{ '/chuan-bi-sang-phap/thu-tuc-thue-nha' | relative_url }}">Thủ tục thuê nhà</a></li>
      <li><a href="{{ '/chuan-bi-sang-phap/tips-khac' | relative_url }}">Tips khác</a></li>
    </ul>
  </li>

  <li><strong>Giới thiệu cuộc sống</strong>
    <ul>
      <li><a href="{{ '/gioi-thieu-cuoc-song/dia-diem-giai-tri-blois' | relative_url }}">Địa điểm giải trí Blois</a></li>
      <li><a href="{{ '/gioi-thieu-cuoc-song/dia-diem-giai-tri-bourges' | relative_url }}">Địa điểm giải trí Bourges</a></li>
      <li><a href="{{ '/gioi-thieu-cuoc-song/tim-viec-lam-them' | relative_url }}">Tìm việc làm thêm</a></li>
    </ul>
  </li>

  <li><strong>Thủ tục hành chính</strong>
    <ul>
      <li><a href="{{ '/thu-tuc-hanh-chinh/lam-ofii' | relative_url }}">Làm OFII</a></li>
      <li><a href="{{ '/thu-tuc-hanh-chinh/lam-the-ngan-hang' | relative_url }}">Làm thẻ ngân hàng</a></li>
      <li><a href="{{ '/thu-tuc-hanh-chinh/lam-titre-de-sejour' | relative_url }}">Làm titre de séjour</a></li>
      <li><a href="{{ '/thu-tuc-hanh-chinh/xin-caf' | relative_url }}">Xin CAF</a></li>
      <li><a href="{{ '/thu-tuc-hanh-chinh/xin-hoc-bong' | relative_url }}">Xin học bổng</a></li>
    </ul>
  </li>

  <li><strong>Xin thực tập & Xin việc</strong>
    <ul>
      <li><a href="{{ '/xin-thuc-tap-xin-viec/tip-phong-van' | relative_url }}">Tip phỏng vấn</a></li>
      <li><a href="{{ '/xin-thuc-tap-xin-viec/viet-cv' | relative_url }}">Viết CV</a></li>
    </ul>
  </li>

  <li><strong>Tips cuộc sống</strong>
    <ul>
      <li><a href="{{ '/tips-cuoc-song/tips-khac' | relative_url }}">Tips khác</a></li>
    </ul>
  </li>
</ul>
